<?php
/**
 * Ejemplo de variables sensible a completar en los entornos dev/prod
 */

const GOOGLE_OAUTH_CLIENTID="";
const GOOGLE_OAUTH_SECRET="";
const DB_HOST="";
const DB_USER="";
const DB_PASS="";
const DB_DATABASE="";
